@import 'fonts/fonts';

@import 'mixins/mixins';
@import 'mixins/responsive';

body {
    font-family: 'TextFont', sans-serif;
    width: 100%;
    background: $bg-color;
    border: 0; padding: 0; margin: 0 auto;
    text-align: center;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    margin-left: 7em;
}

p {
    margin 0 auto;
    padding: 5px 0 0 0;
    text-align: left;
    display: block;
}

blockquote {
    margin: 10px 10px 10px 45px;
    padding-left: 15px;
    border-left: 20px solid $text-color;

    p {
        margin-left: 0px;
        padding-left: 0px;
        display: block;
    }
}

ol, ul {
    text-align: left;
    list-style-position: inside;
    margin-left: 45px;
    padding-left: 15px;
}

ul {
    list-style-type: disc;
}

a {
    @include roundlink($text-color, $second-color);
}

.highlight {
    @include border-radius(5px);
    @include center(90%);
    @include breakpoint(small) {
        margin-left: 0; margin-right: 0;
    };
    position: relative;
    overflow: auto;
    max-height: 400px;
    white-space: nowrap;
    padding: 20px;
    background-color: $bg-color;
    text-align: left;

    pre {
        display: inline;
    }

    .code-show {
        @include border-radius(5px);
        text-align: center;
        padding: 3px;
        color: $bg-color;
        background-color: $second-color;
        height: 25px;
        width: 25px;
        float: right;
        cursor: pointer;
        i {
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
        }
    }
}

#header {
    @include breakpoint(big) {
        @include center(70%);
    }; @include breakpoint(mbig, msmall) {
        @include center(80%);
    }; @include breakpoint(small) {
        @include center(90%);
    };
    @include border-bottom-radius(40px);

    display: block;
    margin-top: auto; margin-bottom: 15px;
    padding-top: 20px; padding-bottom: 25px;
    font-family: 'HeadFont', cursive;
    @include breakpoint(big, mbig, msmall) {
        font-size: 7.5em;
    };
    @include breakpoint(small) {
        font-size: 6.0em;
    };
    letter-spacing: 2px;
    text-align: center;
    background-color: $main-color;
    @include breakpoint(big, mbig) {
        background-repeat: no-repeat;
        background-image: $logo;
        background-position: 90% 50%;
        background-size: auto 80%;
    };

    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            color: $text-color;
            background-color: transparent;
        }
    }

    strong {
        color: $text-color;
        margin-right: 40px; margin-left: 40px;
        display: block;
        font-size: 0.18em;
    }
}

#quote {
    @include breakpoint(small) {
        display: none; // It's just too much space on a small screen. :(
    }
    @include bubble($complement-color, $text-color);
}

#menu {
    @include bubble($complement-color, $text-color);
    @include breakpoint(small) {
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    margin-top: 0;

    ul {
        list-style-type: none;
        margin: 0; padding: 0;
        display: inline;
        text-align: center;
    }
}

#page-title {
    @include bubble($third-color, $text-color);
    width: 50%;
}

.xkcd-compliance {
    width: 100%;
    padding: 0; margin: 0 auto;
}
.xkcd-spacer {
    float: left;
    width: 5%;
    height: 10px;
}

#content {
    @include breakpoint(big) {
        @include center(70%);
    }; @include breakpoint(mbig, msmall) {
        @include center(80%);
    }; @include breakpoint(small) {
        @include center(90%);
    };
    @include border-radius(40px);
    background-color: $second-color;
    padding: 25px 0px;

    a {
        @include roundlink($text-color, $second-color);
    }

    ul#post-list {
        list-style-type: none;
        padding: 0; margin: 0;
    }

    hr.article-divider {
        @include border-radius(4px);
        margin-top: 4em; margin-bottom: 2em;
        border: 0;
        width: 90%;
        color: $text-color;
        background-color: $text-color;
        height: 8px;
    }

    .post-info {
        @include breakpoint(big) {
            @include center(40%);
        }; @include breakpoint(mbig) {
            @include center(50%);
        }; @include breakpoint(msmall) {
            @include center(60%);
        }; @include breakpoint(small) {
            @include center(80%);
        };
        @include border-radius(20px);
        background-color: $bg-color;
        color: $text-color2;
        padding-top: 5px; padding-bottom: 5px;
        text-align: center;

        a {
            @include roundlink($text-color2, $bg-color);
        }
    }

    h2.entry-title {
        font-size: 1.9em;
        text-align: center;
        margin-left: 15px; margin-right: 15px;
    }

    div.entry-content {
        float: left;
        width: 90%;
        margin-bottom: 15px;

        .footnote {
            margin: 0;
            hr {
                @include border-radius(2px);
                margin-right: auto;
                margin-left: 9%;
                border: 0;
                width: 50%;
                color: $text-color;
                background-color: $text-color;
                height: 4px;
            }

            ol {
                padding: 0;
                margin: 0 5% 0 5%;
                list-style-position: inside;
            }
        }
    }

    .paginator {
        @extend .post-info;
        width: 70%;
        background-color: $second-color;
        color: $text-color;
        a {
            @include roundlink($text-color, $second-color);
            font-size: 1.2em;
        }
    }
}

#disqus-comments-container {
    @include border-radius(40px);
    padding: 35px;
    background-color: $third-color;
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
}

#contentinfo {
    @include breakpoint(big) {
        @include center(70%);
    }; @include breakpoint(mbig, msmall) {
        @include center(80%);
    }; @include breakpoint(small) {
        @include center(90%);
    };
    @include border-top-radius(30px);

    @include center(70%);
    margin-top: 25px;
    padding: 25px 0px;
    display: block;
    background-color: $main-color;
    text-align: center;

    a {
        @include roundlink($text-color, $main-color)
    }

    #theme-switcher {
        margin: 15px;
        display: none;
    }

    #theme-switcher-select {
        @include border-radius(5px);
        margin: 5px;
        border: 1px solid $text-color;
        color: $text-color;
        font-size: 1.3em;
        font-family: 'TextFont', sans-serif;
        background-color: $main-color;
    }
}

#scripts {
    // HACK - piwik adds a <p> block element in noscript mode for tracking
    //        purposes, this just ensures it doesn't get in the way
    display:none;
}