$logo: url(/images/johz_fav.png);
$main-color: #ACD6EE;
$second-color: #ACD6EE;
$third-color: #BDE7FF;
$complement-color: #C7D7D7;
$bg-color: #E6EEFF;
$text-color: #333333;
$text-color2: $text-color;

@import 'pygments/perldoc';
