/* Variables */
/*
@main-color: #3F8FD2;
@main-dark: #514EDC;
@second-color: #6EB1E9;
@third-color: #8FC0E9;
@complement-color: #FFD03F;
@complement-color2: #FFAE3F;
@bg-color: #333333;
@text-color: @bg-color;
@text-color2: @second-color;
*/
/*
@main-color: #7EEBFF;
@main-dark: #2992A6;
@second-color: #FFD67A;
@third-color: #BFA875;
@complement-color: #FF877A;
@complement-color2: #A63428;
@bg-color: #FFE8B4;
@text-color: #333333;
@text-color2: @text-color;
*/
/* Mixins */
body {
  font-family: 'Karla', sans-serif;
  width: 100%;
  background: #e6eeff;
  border: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  margin-left: 7em;
}
p {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0px;
  padding-top: 5px;
  text-align: justify;
  display: block;
}
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
  padding-left: 15px;
  border-left: 20px solid #333333;
}
blockquote p {
  margin-left: 0px;
  padding-left: 0px;
  display: block;
}
ol,
ul {
  text-align: left;
  list-style-position: inside;
  margin-left: 45px;
  padding-left: 15px;
}
ul {
  list-style-type: disc;
}
a {
  color: #333333;
  font-weight: bolder;
  text-decoration: none;
}
a:visited {
  color: #333333;
  font-weight: bolder;
  text-decoration: none;
}
a:hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #333333;
  color: #acd6ee;
}
.highlighttable {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 80%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin: 0% 10%;
  background-color: #e6eeff;
  text-align: left;
}
.highlighttable tr {
  border-collapse: collapse;
}
.highlighttable .linenos {
  color: #F8F8F2;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #F8F8F2;
  text-align: center;
}
.highlighttable .code {
  margin: 0px;
  padding: 0px;
}
.highlighttable .code .highlight {
  padding: 0px;
  margin: 0px;
  margin-left: 7px;
}
.highlight {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 75%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0% 10%;
  background-color: #e6eeff;
  text-align: left;
}
#header {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -moz-border-radius-bottomleft: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  width: 60%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: 'Changa One', cursive;
  font-size: 7.5em;
  letter-spacing: 2px;
  background-color: #acd6ee;
  text-align: center;
}
#header a {
  color: #333333;
  text-decoration: none;
}
#header a:hover {
  color: #333333;
  background-color: #acd6ee;
}
#header strong {
  color: #333333;
  margin-right: 40px;
  margin-left: 40px;
  display: block;
  font-size: 0.18em;
}
#quote {
  width: 40%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px 35px 25px 35px;
  text-align: center;
  color: #333333;
  background-color: #c7d7d7;
}
#quote a {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
}
#quote a:visited {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
}
#quote a:hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #333333;
  color: #c7d7d7;
}
#menu {
  width: 40%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px 35px 25px 35px;
  text-align: center;
  color: #333333;
  background-color: #c7d7d7;
}
#menu a {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
}
#menu a:visited {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
}
#menu a:hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #333333;
  color: #c7d7d7;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  text-align: center;
}
#page-title {
  width: 40%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px 35px 25px 35px;
  text-align: center;
  color: #333333;
  background-color: #bde7ff;
  width: 50%;
}
#page-title a {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
}
#page-title a:visited {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
}
#page-title a:hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #333333;
  color: #bde7ff;
}
.xkcd-compliance {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.xkcd-spacer {
  float: left;
  width: 10%;
  height: 10px;
}
#content {
  width: 60%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background-color: #acd6ee;
  padding: 25px 0px 25px 0px;
}
#content a {
  color: #333333;
  font-weight: bolder;
  text-decoration: none;
}
#content a:visited {
  color: #333333;
  font-weight: bolder;
  text-decoration: none;
}
#content a:hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #333333;
  color: #acd6ee;
}
#content ul#post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#content ul#post-list hr.article-divider {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 4em;
  margin-bottom: 2em;
  border: 0;
  width: 90%;
  color: #333333;
  background-color: #333333;
  height: 8px;
}
#content ul#post-list hr.article-divider:last-of-type {
  display: none;
}
#content .post-info {
  width: 40%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #e6eeff;
  color: #333333;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
#content .post-info a {
  color: #333333;
}
#content .post-info a:visited {
  color: #333333;
}
#content .post-info a:hover {
  background-color: #333333;
  color: #333333;
}
#content h2.entry-title {
  font-size: 1.9em;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
#content div.entry-content {
  float: left;
  width: 80%;
  margin-bottom: 15px;
}
#content div.entry-content .footnote {
  margin: 0;
}
#content div.entry-content .footnote hr {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: auto;
  margin-left: 9%;
  border: 0;
  width: 50%;
  color: #333333;
  background-color: #333333;
  height: 4px;
}
#content div.entry-content .footnote ol {
  padding: 0;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  list-style-position: inside;
}
#content .paginator {
  width: 40%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #e6eeff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #acd6ee;
  color: #333333;
}
#content .paginator a {
  color: #333333;
}
#content .paginator a:visited {
  color: #333333;
}
#content .paginator a:hover {
  background-color: #333333;
  color: #333333;
}
#content .paginator a {
  font-size: 1.2em;
}
#nav-links {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  display: inline-block;
  padding: 15px;
  background-color: #bde7ff;
  letter-spacing: 5px;
  text-align: center;
}
#nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
#nav-links ul li {
  display: inline;
}
#nav-links a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
}
#contentinfo {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  width: 60%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 25px 0px;
  display: block;
  background-color: #acd6ee;
  text-align: center;
}
#contentinfo a:hover {
  color: #acd6ee;
}
#contentinfo #theme-switcher {
  margin: 15px;
}
#contentinfo #theme-switcher-select {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 5px;
  border: 1px solid #333333;
  color: #333333;
  font-size: 1.3em;
  font-family: 'Karla', sans-serif;
  background-color: #acd6ee;
}
