<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %}
    <script type="text/javascript">
        window.themeSwitcher = new (function(themes, defaultTheme) {
  indexOf = function(e,t,n){if(Array.prototype.indexOf){return Array.prototype.indexOf.apply(e,Array.prototype.slice.call(arguments,1))}var r,i=n?n:0,s;s=e.length;if(s===0||i>=s){return-1}if(i<0){i=s-Math.abs(i)}for(r=i;r<s;r++){if(e[r]==t){return r}}return-1}

  this.lsExists = false;

  this.themes = themes;
  this.defaultTheme = indexOf(themes, defaultTheme);
  this.currentTheme = this.defaultTheme;

  try {
    localStorage.setItem('test', 'test');
    localStorage.removeItem('test');
    this.lsExists = true;

    stylesheet = localStorage.getItem('pillbox-theme');
    this.currentTheme = indexOf(themes, stylesheet);

    if (this.currentTheme < 0) {
      this.currentTheme = this.defaultTheme;
    }

    this._setStyle = function(index) {
      if (index >= 0 && index < this.themes.length) {
        var styleName = this.themes[index];
      } else {
        var styleName = this.themes[this.currentTheme];
        index = this.currentTheme;
      }

      var link = document.getElementById('main-theme');
      var splits = link.href.split('/');
      splits[splits.length - 1] = styleName + '.min.css';
      link.href = splits.join('/')
      console.log(link.href)

      localStorage.setItem('pillbox-theme', styleName);
      this.currentTheme = index;
    }

  } catch(e) {
    this.lsExists = false;

    this._setStyle = function(index) {
      var styleName = this.themes[this.currentTheme];
      var link = document.getElementById('main-theme');
      var splits = link.href.split('/');
      splits[splits.length - 1] = styleName + '.css';
      link.href = splits.join('/');
    }
  }

  this.writeStyle = function() {
    var styleName = this.themes[this.currentTheme];
    document.write('<link id="main-theme" href="{{SITEURL}}/theme/css/');
    document.write(styleName + '.css" rel="stylesheet" />');
  }

  this.getStyle = function(stylesheet) {
    if (stylesheet === null || typeof stylesheet == "undefined") {
      return this.currentTheme;
    } else if (typeof stylesheet === "number"
                 &&   stylesheet === Math.floor(stylesheet)) {
      if (stylesheet >= 0 && stylesheet < this.themes.length) {
        return stylesheet;
      } else {
        return this.currentTheme;
      }
    } else {
      var index = indexOf(this.themes, stylesheet);
      if (index > -1) {
        return index;
      } else {
        return this.currentTheme;
      }
    }
  }

  this.setStyle = function(stylesheet) {
    var index = this.getStyle(stylesheet);
    if (index === this.currentTheme) {
      index = (this.currentTheme + 1) % this.themes.length;
    }
    this._setStyle(index);
  }

  this.addSwitcher = function(elementID) {
    elem = document.getElementById(elementID);
    switcher = document.createElement('select');
    switcher.id = "theme-switcher-select";
    for (var i = 0; i < this.themes.length; i++) {
      var theme = this.themes[i];
      var option = document.createElement('option');
      option.value = theme;
      option.appendChild(document.createTextNode(theme));
      if (i == this.currentTheme) {
        option.selected = true;
      }
      switcher.appendChild(option);
    };
    switcher.onchange = function(){
      var e = this.options[this.selectedIndex].value;
      themeSwitcher.setStyle(e);
    };
    elem.appendChild(switcher);
  }

})(['light', 'dark'], 'dark');

        themeSwitcher.writeStyle();
    </script>
    <noscript>
        <link id="main-theme" href="{{SITEURL}}/theme/css/main-dark.css" rel="stylesheet" /> 
    </noscript>

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css" rel="stylesheet">

    <!-- Add title -->
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <!-- Crazy feed mumbo-jumbo, kept the same from !simple/base.html -->
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>

<body id="index" class="home">
        <header id="banner" class="body">
            <h1 id="header"><a href="{{SITEURL}}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        </header><!-- /#banner -->

        <!-- Just copied straight from !simple/base.html again -->
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul></nav><!-- /#menu -->

        <!-- Now begineth the content -->
        {% block content %}
        {% endblock %}
        <!-- Now endeth the content -->


        <footer id="contentinfo" class="body">

            <div id="theme-switcher">
            Change Theme<br />
            </div>

            <script>
            themeSwitcher.addSwitcher('theme-switcher');
            </script>

            <address id="about" class="vcard body">
            This blog is built from <a href="http://getpelican.com/">Pelican</a>,
            <a href="http://python.org">Python</a>,
            and the Pillbox Theme.
            </address><!-- /#about -->
        </footer><!-- /#contentinfo -->

        <!-- And finally insert out scripts. -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="{{SITEURL}}/theme/js/jquery-2.0.3.min.js"><'+'/script>')
        </script>
        <script type="text/javascript">
        $(function() {
            clickElem = document.createElement('div');
            clickElem.className = "code-show";
            clickElem.innerHTML = '<i class="fa fa-plus"></i>';
            clickElem = $(clickElem).click(function(){
                e = $(this)
                e.parent().css("max-height", function(index, value) {
                    if (value === "none") {
                        return "400px";
                    } else {
                        return "none";
                    }
                });
                e.children().toggleClass('fa-plus').toggleClass('fa-minus');
            });
            $('.highlight').prepend(function() {
                if (this.offsetHeight < this.scrollHeight) {
                    return clickElem.clone(true);
                } else {
                    return null;
                }
            });
        });
        </script>
        {% include 'disqus_comment_counts.html' %}
        {% if PIWIKSCRIPT %}
            {{ PIWIKSCRIPT }}
        {% endif %}
    </body>
</html>
